/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
a{
  font-weight: bold;
padding: 20px;
margin  : 20px;
  background-color: greenyellow;
  color: rgb(51, 159, 209) !important;

}
.navbar-brand img{
  padding: 25px;
  background-color: greenyellow;

}
.banner-section{
  position: relative;
  overflow: hidden;
}


.banner-elements-part {
  position: absolute;
  right: 7%;
  bottom: -25px;
  width: 930px;
  height: 775px;
  background-position: center;
  background-size: cover;
}
.banner-elements-part.active .element-one {
    top: 62%;
    left: 49%;
    z-index: 2;
    opacity: 1;
}
.lottery{
background-color: greenyellow;
}
li{
}
.nav-item NavLink{
  background-color: grey;
  border: 2px solid red;
}
li:first-line { 
  border: 2px solid red;

}
